<section class="container pt-2">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
    </ol>
  </nav>
  <h1>{{title}}</h1>

  <div class="container" *ngIf="orders.length>0">
    <div class="d-flex justify-content-between">
      <button *ngIf="productsActive>0 && suppliersActive>0" [ngClass]="showDeleted? 'btn btn-secondary my-2' : 'btn btn-primary my-2'" routerLink="/orders/order-form">Create new order</button>    
      <div class="my-3 d-flex">
        <label class="mx-3" for="supplier">Status</label>
        <select (change)="onSelect($event)" class="form-select form-select-sm" id="supplier" name="supplier" [(ngModel)]="searchByStatus" #Supplier="ngModel" required>
          <option value="Display all">Display all</option>
          <option *ngFor="let status of statusList" value="{{status.name}}">{{status.name}}</option>
        </select>
      </div>   
      <button [ngClass]="showDeleted? 'btn btn-primary my-2' : 'btn btn-outline-secondary my-2'" (click)="toggleShowDeleted()">{{showDeletedButtonMessage}}</button>
    </div>

  
    <table class="table table-striped ">
      <thead>
        <tr>
          <th class="col-1"(click)="setSortByCode('order_number')" scope="col-1">Nº Order<span class="material-icons vertical-align">arrow_drop_down</span></th>
          <th class="col-2"(click)="setSortByCode('issue_date')" scope="col-1">Issue Date<span class="material-icons vertical-align">arrow_drop_down</span></th>
          <th class="col-2"(click)="setSortByCode('delivery_date')" scope="col-1">Delivery Date<span class="material-icons vertical-align">arrow_drop_down</span></th>
          <th class="col-2"(click)="setSortBySubpropertyCode('supplier', 'business_name')" scope="col-1">Supplier<span class="material-icons vertical-align">arrow_drop_down</span></th>
          <th class="col-1"(click)="setSortByCode('total')" scope="col-1">Total<span class="material-icons vertical-align">arrow_drop_down</span></th>
          <th class="col-2 text-center"(click)="setSortBySubpropertyCode('status', 'name')" scope="col-1">Order Status<span class="material-icons vertical-align">arrow_drop_down</span></th>
          <th *ngIf="!showDeleted" class="text-center" scope="col-1">Cancel</th>
          <th class="col-1 text-center" scope="col-2">Order Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders | filterDeleted: showDeleted | filterOrders: searchByStatus | orderBy: sortByProperty : sortByDesc : sortByPropertyActivated | orderBySubproperty: sortByProperty : sortBySubproperty : sortByDesc : sortBySubpropertyActivated, let i = index" [ngClass]="(order.deleted==true)?'canceled':''" >
          <td>{{order.order_number}}</td>
          <td>{{order.issue_date}}</td>
          <td>{{order.delivery_date}}</td>
          <td>{{order.supplier.business_name}}</td>
          <td>{{order.total | currency}}</td>
          <td class="text-center row">
            <div class="col-7">
              <p>{{order.status.name}}</p>
            </div>
            <div class="col-4" *ngIf="!showDeleted">
              <img class="pointer" (click)="changeStatus(order.id, order.status.name)"src="/assets/icons/pencil-square.svg" alt="change order status" width="25" height="25">
            </div>
          </td>
          <td *ngIf="!showDeleted" class="text-center pointer" (click)="markCanceled(order.id, order.order_number)"><img src="/assets/icons/trash.svg" alt="mark as canceled" width="25" height="25" [ngClass]="(order.deleted==true)?'d-none':''"></td>
          <td class="text-center pointer" (click)="setOrderId(order)" data-bs-toggle="modal" data-bs-target="#detalleOrdenModal"><img src="/assets/icons/info-circle.svg" alt="ver detalle del proveedor" width="25" height="25"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container d-flex flex-column justify-content-center align-items-center text-center" *ngIf="!showDeleted">
    <div class="container d-flex flex-column justify-content-center align-items-center empty-table" *ngIf="(orders.length<=0 && productsActive>0 && suppliersActive>0) || (ordersActive<=0 && !showDeleted && productsActive!=0 && suppliersActive!=0)">
      <p>There are no registered active orders</p>
      <p routerLink="/orders/order-form">Create a new order</p>
      <button class="btn btn-primary" routerLink="/orders/order-form">Create Orden</button>
    </div>
    <div class="container d-flex flex-column justify-content-center align-items-center empty-table" *ngIf="productsActive==0 && suppliersActive>0">
      <p>There are no registered active products.<br>You need at least one active product to place an order</p>
      <p>Start <b class="pointer" routerLink="/products/product-form">creating a new Product</b></p>
      <button class="btn btn-primary" routerLink="/products/product-form">Create a product</button>
    </div>
    <div class="container d-flex flex-column justify-content-center align-items-center empty-table" *ngIf="suppliersActive==0">
      <p>There are no registered active suppliers. <br>You need at least one active supplier to place an order</p>
      <p>Start <b class="pointer" routerLink="/suppliers/supplier-form">creating a new supplier</b></p>
      <button class="btn btn-primary" routerLink="/suppliers/supplier-form">Create a supplier</button>
    </div>
  </div>

</section>

  <!-- Modal -->
  <div class ="modal fade" id="detalleOrdenModal" tabindex="-1" role="dialog" aria-labelledby="detalleOrdenModalLabel" aria-hidden="true">
    <div *ngIf="orders.length>0" class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div [ngClass]="showDeleted ? 'modal-content bg-secondary text-light' : 'modal-content'">
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center" id="detalleOrdenModalLabel">Orden Nº {{currentOrder?.order_number}}</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div *ngIf="currentOrder?.deleted == true" class="d-flex justify-content-center">
              <h5>ORDER CANCELLED</h5>
            </div>
            <div class="row">
              <h5>Order status: {{currentOrder?.status?.name}}</h5>
            <hr>
              <h5>Datos generales</h5>
              <div class="col-sm-3">
                <div class="imgContainerModal">
                  <img src="{{currentOrder?.supplier?.url_logo}}" alt="{{currentOrder?.supplier?.business_name}}">
                </div>
              </div>
              <div class="col-sm-6">
                <table class="table">
                  <tr>
                    <td>
                      Proveedor:
                    </td>
                    <td>
                      {{currentOrder?.supplier?.business_name}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Fecha de emisión:
                    </td>
                    <td>
                      {{currentOrder?.issue_date}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Fecha estimada de entrega:
                    </td>
                    <td>
                      {{currentOrder?.delivery_date}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Comentarios sobre entrega:
                    </td>
                    <td>
                      {{currentOrder?.details}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <hr>
            <div class="row">
              <h5>Productos</h5>
              <div class="col-sm-3">
              </div>
              <div class="col-sm-7">
                <table class="table">
                  <thead>
                    <th>
                      Producto
                    </th>
                    <th>
                      Cantidad
                    </th>
                    <th>
                      Subtotal
                    </th>
                  </thead>
                  <tr *ngFor="let currentOrderDetail of currentOrderDetails">
                    <td>
                      {{currentOrderDetail.product.name}}
                    </td>
                    <td>
                      {{currentOrderDetail.quantity}}
                    </td>
                    <td>
                      {{currentOrderDetail.quantity * currentOrderDetail.unit_price}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">                
              </div>
              <div class="col-sm-4">
                <h5>Total: {{currentOrder?.total | currency}}</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button *ngIf="!showDeleted" type="button" (click)="markCanceled(currentOrder?.id, currentOrder?.order_number)" class="btn btn-primary" data-bs-dismiss="modal">Cancel order</button>
        </div>
      </div>
    </div>
  </div>