<!-- <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar Proveedor</h5>
        </div>
        
        <div class="modal-body">
            <div class="row g-3">
                <div class="col-md-3">
                    <label for="inputCodigo" class="form-label mb-1 mt-2">Codigo</label>
                    <input type="text" class="form-control" id="inputCodigo" disabled>
                </div>
                <div class="col-md-9">
                    <label for="inputProveedor" class="form-label mb-1 mt-2">Proveedor</label>
                    <input type="text" [(ngModel)]="valor_input" class="form-control" id="inputProveedor">
                </div>
                <div class="col-6">
                    <label for="inputSKU" class="form-label mb-1 mt-2">SKU</label>
                    <input type="text" class="form-control" id="inputSKU">
                </div>
                <div class="col-6">
                    <label for="inputCategoria" class="form-label mb-1 mt-2">Categoria</label>
                    <input type="text" class="form-control" id="inputCategoria">
                </div>
                <div class="col-6">
                    <label for="inputNombreProducto" class="form-label mb-1 mt-2">Producto/Servicio</label>
                    <input type="text" class="form-control" id="inputNombreProducto">
                </div>
                <div class="col-6">
                    <label for="inputPrecio" class="form-label mb-1 mt-2">Precio</label>
                    <input type="text" class="form-control" id="inputPrecio">
                </div>
                <div class="col-12">
                    <label for="inputDescripcion" class="form-label mb-1 mt-2">Descripcion</label>
                    <input type="text" class="form-control" id="inputDescripcion">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary close-modal" type="button" data-dismiss="modal">Cancelar</button>
            <button id="add-producto" class="btn btn-primary close-modal" type="button" data-dismiss="modal">Aceptar Producto</button>
        </div>
    </div>
</div>
 -->

