<section class="container pt-2">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a (click)="cancelar('')">Home</a></li>
        <li class="breadcrumb-item"><a (click)="cancelar('ordenes')">Orders</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create new Order</li>
      </ol>
    </nav>
    
    <h2>Create new Order</h2>  
  
<!-- orden-form.component.html -->

<div class="container mt-4">
  <form #ordenForm="ngForm" (ngSubmit)="onClickForm(ordenForm)">
    <input type="hidden" class="form-control" id="numeroOrden" name="id" [(ngModel)]="order.id">
    <div class="row">
      <div class="col-sm-2">
        <div class="form-group">
          <label for="numeroOrden">Order Number</label>
          <input type="number" class="form-control" id="numeroOrden" name="numeroOrden" [(ngModel)]="order.order_number" disabled>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="fechaEmision">Issue Date</label>
          <input type="date" (change)="validateDateFechaEmision()" min="{{ getDate(0) | date:'yyyy-MM-dd' }}" class="form-control" id="fechaEmision" name="fechaEmision" [(ngModel)]="order.issue_date" #FechaEmision="ngModel" required>
          <div *ngIf="FechaEmision.errors?.['required']" class="col-auto">
            <span class="form-text text-danger">
                This field is required
            </span>
          </div>
          <div *ngIf="!fechaEmisionValida" class="col-auto">
            <span class="form-text text-danger">
              Issue date must be today or later.
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="fechaEntrega">Delivery Date</label>
          <input type="date" (change)="validateDateFechaEntrega()" min="{{ getDate(0) | date:'yyyy-MM-dd' }}" class="form-control" id="fechaEntrega" name="fechaEntrega" [(ngModel)]="order.delivery_date" #FechaEntrega="ngModel" required>
          <div *ngIf="FechaEntrega.errors?.['required']" class="col-auto">
            <span class="form-text text-danger">
                This field is required
            </span>
          </div>
          <div *ngIf="!fechaEntregaValida" class="col-auto">
            <span class="form-text text-danger">
              Delivery date can't be before issue date.
            </span>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="informacionRecepcion">Information for reception</label>
          <textarea class="form-control" id="informacionRecepcion" name="informacionRecepcion" [(ngModel)]="order.details" maxlength="2000"></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="supplier">Supplier</label>
          <select (change)="onSelect($event)" class="form-control" id="supplier" name="supplier" [(ngModel)]="selectedSupplier" #Supplier="ngModel" required>
            <option *ngFor="let supplier of suppliers" value="{{supplier.id}}">{{supplier.business_name}}</option>
          </select>
          <div *ngIf="Supplier.errors?.['required']" class="col-auto">
            <span class="form-text text-danger">
                This field is required
            </span>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="img_container m-1">
            <img src="{{selectedSupplierImageUrl}}" alt="">
          </div>
        </div>
        <div class="form-group mt-2">
          <label for="total">Total</label>
          <input type="number" class="form-control" id="total" name="total" [(ngModel)]="order.total" disabled>
          <div *ngIf="!totalMayorACeroValido" class="col-auto">
            <span class="form-text text-danger">
                The total can't be 0. Please add at least one product.
            </span>
          </div>
        </div>
          
        <button type="submit" class="btn btn-primary my-4">Create new Order</button>
        <div (click)="cancelar('ordenes')" class="btn btn-secondary my-4 mx-2">Cancel</div>
      </div>
      <div class="col-md-8">
        <div class="form-group d-flex flex-column justify-content-center my-3 " *ngIf="productsToDisplay.length > 0">
          <div class="my-3">
            <label for="">Find products</label>
            <input type="text" class="mx-3" name="search" [(ngModel)]="search">
          </div>
          <!-- <label for="productos">Productos</label> -->
            <table class="table w-75 ">
              <thead>
                <th>Product</th>
                <th>Unit Price</th>
                <th>Quantity</th>
              </thead>
              <tbody>
                <tr *ngFor="let productToDisplay of productsToDisplay | ordersProductSearch : search">
                  <td>{{productToDisplay.name}}</td>
                  <td>{{productToDisplay.price}}</td>
                  <td><input type="number" min="0" placeholder="Select Quantity" (change)="addProductToOrder($event, productToDisplay)"></td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>

    </div>     
    <input type="hidden" class="form-control" d="total" name="total" [(ngModel)]="order.status">

    </form>
  </div>     
</section>