<div id="myModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmar Nueva Orden</h5>
        </div>
        <div class="modal-body">
        Está a punto de generar una nueva orden. ¿Desea continuar?
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <!-- <button type="button" (click)="confirmarNuevaOrden()" class="btn btn-primary">Confirmar nueva orden</button> -->
        </div>
    </div>
</div>