<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Ordenes de Compra</h1>
<p class="mb-4">En esta sección es posible añadir, eliminar o editar órdenes de compra</p>

<!-- Boton Orden de Compra nueva -->
<a class="btn btn-primary mb-4" href="#" data-toggle="modal" data-target="#ordenesCompraModal">
    Agregar Orden de Compra
</a>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Ordenes de Compra</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Número Orden</th>
                        <th>Proveedor</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Fecha entrega</th>
                        <th>Total</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody id="tabla-ordenesCompra">
                </tbody>
            </table>
        </div>
    </div>
</div>