
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Productos</h1>
<p class="mb-4">En esta sección es posible añadir productos</p>

<!-- Boton proveedor nuevo -->

<a class="btn btn-primary mb-4" routerLink="agregar-productos">
    Agregar Productos
</a>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Productos / Servicios</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>SKU</th>
                        <th>Proveedor</th>
                        <th>Categoria</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody id="tabla-productos">
                    <tr *ngFor = "let product of products">
                        <th>{{product.id}}</th>
                        <th>{{product.SKU}}</th>
                        <th>{{product.proveedorId}}</th>
                        <th>{{product.categoria}}</th>
                        <th>{{product.nombreProducto}}</th>
                        <th>{{product.descripcion}}</th>
                        <th>Opciones</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<router-outlet></router-outlet>