<section class="container pt-2">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
    </ol>
  </nav>
  
  <h1>{{title}}</h1>

  <div class="container" *ngIf="(showDeleted || products.length>0)">
    <div class="d-flex justify-content-between">
      <button class="btn btn-primary my-2" routerLink="product-form">Create a product</button>   
      <div class="my-3">
        <label for="">Search product</label>
        <input type="text" class="mx-3" name="search" [(ngModel)]="search">
      </div>   
      <button class="btn btn-outline-secondary my-2" (click)="toggleShowDeleted()">{{showDeletedButtonMessage}}</button>
    </div>

    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th (click)="setSortByCode('sku')" scope="col-2">SKU<span class="material-icons vertical-align">arrow_drop_down</span></th>
          <th scope="col-2">Product</th>
          <th scope="col">Category</th>
          <th scope="col">Supplier</th>
          <th (click)="setSortByCode('price')" scope="col-2">Price<span class="material-icons vertical-align">arrow_drop_down</span></th>
          <th *ngIf="!showDeleted" colspan="3" scope="col" class="text-center">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | filterDeleted: showDeleted | filterProducts: search | orderBy: sortBy : sortByDesc">
          <td><div class="imgContainer"><img src="{{product.url_image}}" alt="{{product.name}}" height=80 (error)="imageError($event)"></div></td>
          <td>{{product.sku}}</td>
          <td>{{product.name}}</td>
          <td>{{product.category.name}}</td>
          <td>{{product.supplier.business_name}}</td>
          <td>{{product.price}}</td>
          <td class="pointer" (click)="editProduct(product.id)"><img src="/assets/icons/pencil-square.svg" alt="editar producto" width="25" height="25"></td>
          <td class="pointer" *ngIf="!showDeleted" (click)="deleteProduct(product.id, product.name)"><img src="/assets/icons/trash.svg" alt="borrar producto" width="25" height="25"></td>
          <td class="pointer" (click)="getAProduct(product.id)" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="/assets/icons/info-circle.svg" alt="ver detalle del producto" width="25" height="25"></td>
        </tr>
      </tbody>
    </table>
  </div>
    
  <div class="container d-flex flex-column justify-content-center align-items-center empty-table" *ngIf="(!showDeleted && products.length<=0)">
    <div class="container d-flex flex-column justify-content-center align-items-center empty-table" *ngIf="suppliersList.length>0">
    <p>There are no registered active products</p>
    <button class="btn btn-primary" routerLink="product-form">Create a product</button>
  </div>
  <div class="container d-flex flex-column justify-content-center align-items-center empty-table" *ngIf="suppliersList.length<=0">
      <p>There are no registered active suppliers</p>
      <p>Start <b>creating a new supplier</b></p>
      <button class="btn btn-primary" routerLink="/suppliers/supplier-form/">Create a supplier</button>
    </div>
  </div>
  
</section>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div [ngClass]="productsService.product.deleted ? 'modal-content bg-secondary text-light' : 'modal-content'">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center" id="exampleModalLabel">{{productsService.product.name}}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div *ngIf="productsService.product.deleted == true" class="d-flex justify-content-center">
            <h5>PRODUCT INACTIVE</h5>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="imgContainerModal">
                <img src="{{productsService.product.url_image}}" alt="{{productsService.product.name}}">
              </div>
            </div>
            <div class="col-sm-6">
              <table>
                <tr>
                  <td>
                    Product ID:
                  </td>
                  <td>
                    {{productsService.product.id}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Supplier:
                  </td>
                  <td>
                    {{productsService.product.supplier.business_name}}
                  </td>
                </tr>
                <tr>
                  <td>
                    SKU:
                  </td>
                  <td>
                    {{productsService.product.sku}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Category:
                  </td>
                  <td>
                    {{productsService.product.category.name}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Price:
                  </td>
                  <td>
                    {{productsService.product.price}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Description:
                  </td>
                  <td>
                    {{productsService.product.description}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" (click)="editProduct(productsService.product.id)" [ngClass]="productsService.product.deleted ? 'btn btn-secondary' : 'btn btn-primary'" data-bs-dismiss="modal">Editar</button>
        <button type="button" *ngIf="productsService.product.deleted == true" (click)="activateProduct(productsService.product.id, productsService.product.name)" class="btn btn-primary" data-bs-dismiss="modal">Activate product</button>
      </div>
    </div>
  </div>
</div>
