<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Proveedores</h1>
<p class="mb-4">En esta sección es posible añadir, eliminar o editar proveedores</p>

<!-- Boton proveedor nuevo -->
<a class="btn btn-primary mb-4" routerLink="agregar-proveedor">
    Agregar Proveedor
</a>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Proveedores registrados</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Razón Social</th>
                        <th>Rubro</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let proveedor of proveedores">
                        <th>{{proveedor.codigo}}</th>
                        <th>{{proveedor.razonSocial}}</th>
                        <th>{{proveedor.rubro}}</th>
                        <th>Opciones</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<router-outlet></router-outlet>