.canceled td {
    background-color: rgb(214, 214, 214) !important; 
    color:rgb(72, 72, 72) !important;
}

.imgContainer{
    width:70px;
    height: 70px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer img{
}

.imgContainerModal{
    width:90%;
    overflow: hidden;
}

.imgContainerModal img{
    width:100%;
}

.modal-body ul {
    list-style-type: none
}

.empty-table{
    height: 50vh;
    width: 75vw;
}

.vertical-align {
    vertical-align: middle; /* Adjust the value as needed */
}