
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Productos</h1>
<p class="mb-4">En esta sección es posible añadir productos</p>

<!-- Boton proveedor nuevo -->

<app-form-products></app-form-products>

<a class="btn btn-primary mb-4" href="#" data-toggle="modal" data-target="#proveedorModal">
    Agregar Productos
</a>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Productos / Servicios</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>SKU</th>
                        <th>Proveedor</th>
                        <th>Categoria</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody id="tabla-productos">
                </tbody>
            </table>
        </div>
    </div>
</div>