<section class="container pt-2">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a (click)="cancelar('')">Home</a></li>
      <li class="breadcrumb-item"><a (click)="cancelar('suppliers')">Suppliers</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
    </ol>
  </nav>


  <h2>{{title}}</h2>  

  <form (ngSubmit)="onClickForm(supplierForm)" #supplierForm="ngForm" class="p-4">
    <input type="hidden" class="form-control form-control-sm" name="id" [(ngModel)]="supplier.id">        
    <h3>General data</h3>
      <div class="row">
        <div class="col-md-2">
          <label for="codigo"  class="form-label">Supplier code:</label>
          <input type="text" id="codigo" (keyup)="supplierCodeIsUnique($event)" class="form-control form-control-sm" name="codigo" [(ngModel)]="supplier.code" #codigo="ngModel" minlength="4" maxlength="50">  
          <div *ngIf="(!validCode  || codigo.errors?.['minlength']) && !codigo.errors?.['required']" class="col-auto">
            <span class="form-text text-danger">
                The code needs at least 4 alphanumeric characters
            </span>
          </div>  
          <div *ngIf="codigo.errors?.['required']" class="col-auto">
            <span class="form-text text-primary">
                This field is required
            </span>
          </div> 
          <div *ngIf="supplierCodeRepeated" class="col-auto">
            <span class="form-text text-danger">
                There is another supplier with this code. Please choose another code
            </span>
          </div>    
        </div>

        <div class="col-md-3">
          <label for="business_name" class="form-label">Business Name:</label>
          <input type="text" class="form-control form-control-sm" id="business_name" name="business_name" [(ngModel)]="supplier.business_name"  #business_name="ngModel" maxlength="50" required>
          <div *ngIf="business_name.errors?.['required']" class="col-auto">
            <span class="form-text text-primary">
                This field is required
            </span>
          </div>   
        </div>
        <div class="col-md-4">
          <label for="rubro" class="form-label">Sector:</label>
          <select class="form-select form-select-sm" aria-label="Default select example" id="rubro" name="rubro" [(ngModel)]="supplier.sector" #rubro="ngModel" required>
            <option *ngFor="let sector of sectors" value={{sector.name}}>{{sector.name}}</option>
          </select>
          <div *ngIf="rubro.errors?.['required']" class="col-auto">
            <span class="form-text text-primary">
                This field is required
            </span>
          </div>   
          <div (click)="addSectorModal()" class="btn btn btn-outline-secondary btn-sm m-2">Add a sector</div>
          <div (click)="editSectorModal()" class="btn btn btn-outline-secondary btn-sm">Edit or Delete a sector</div>
        </div>
        <div class="col-md-3">
          <label for="URLlogo" class="form-label">Logo (url):</label>
          <input type="text" maxlength="1500" class="form-control form-control-sm" id="URLlogo" name="URLlogo" [(ngModel)]="supplier.url_logo" maxlength="1500">
          <div class="d-flex justify-content-center mt-3">
            <div *ngIf="supplier.url_logo != ''" class="img-container">
              <img src="{{supplier.url_logo}}" alt="supplier url_logo">
            </div>
          </div>
        </div>
      </div>
    
      <div class="row mt-3">
        <div class="col-md-6">
          <label for="CUIT" class="form-label">CUIT:</label>
          <input type="text" (keyup)="validarCUIT(supplier.cuit)" maxlength="13" class="form-control form-control-sm" id="CUIT" name="CUIT" [(ngModel)]="supplier.cuit" (ngModelChange)="onCUITChange($event)"
          #cuit="ngModel" required>
          <div *ngIf="cuit.errors?.['required']" class="col-auto">
            <span class="form-text text-primary">
                This field is required
            </span>
          </div> 
          <div *ngIf="!validCUIT && !cuit.errors?.['required']" class="col-auto">
            <span class="form-text text-danger">
                The CUIT is not valid
            </span>
          </div>  
        </div>
        <div class="col-md-6">
          <label for="vat_condition" class="form-label">VAT condition:</label>
          <select class="form-select form-select-sm" aria-label="Default select example" id="vat_condition" name="vat_condition" [(ngModel)]="supplier.vat_condition" #vat_condition="ngModel" required>
            <option *ngFor="let condition of vat_conditions" value="{{condition}}">{{condition}}</option>
          </select>
          <div *ngIf="vat_condition.errors?.['required']" class="col-auto">
            <span class="form-text text-primary">
                This field is required
            </span>
          </div>  
        </div>
      </div>
    
      <div class="row mt-3">
        <div class="col-md-4">
          <label for="email" class="form-label">Email:</label>
          <input type="email" (keyup)="validarEmail(supplier.email)" class="form-control form-control-sm" id="email" name="email" [(ngModel)]="supplier.email" #email="ngModel" placeholder="ejemplo&#64;ejemplo.com" maxlength="50" required>
          <div *ngIf="email.errors?.['required']" class="col-auto">
            <span class="form-text text-primary">
                This field is required
            </span>
          </div> 
          <div *ngIf="!validEmail && !email.errors?.['required']" class="col-auto">
            <span class="form-text text-danger">
              Check the format of the entered email. Example: example&#64;example.com
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <label for="telefono" class="form-label">Phone:</label>
          <input type="tel" (keyup)="validarTelefono(supplier.phone)" class="form-control form-control-sm" id="telefono" name="telefono" [(ngModel)]="supplier.phone" #telefono="ngModel" maxlength="20" required>
          <div *ngIf="telefono.errors?.['required']" class="col-auto">
            <span class="form-text text-primary">
                This field is required
            </span>
          </div> 
          <div *ngIf="!validTelefono && !telefono.errors?.['required']" class="col-auto">
            <span class="form-text text-danger">
              The phone format only accepts 5 or more numeric characters, parentheses, hyphens, or spaces.
            </span>
          </div>  
        </div>
        <div class="col-md-4">
          <label for="web" class="form-label">Web:</label>
          <input type="url" class="form-control form-control-sm" id="web" name="web" [(ngModel)]="supplier.web" maxlength="50">
        </div>
      </div>
    
      <hr>
      <h3>Address</h3>

      <div class="row mt-3">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-5">
              <label for="calle" class="form-label">Street:</label>
              <input type="text" class="form-control form-control-sm" id="calle" name="direccion.calle" [(ngModel)]="supplier.address.street" #calle="ngModel" required>
              <div *ngIf="calle.errors?.['required']" class="col-auto">
                <span class="form-text text-primary">
                    This field is required
                </span>
              </div> 
            </div>
            <div class="col-md-3">
              <label for="altura" class="form-label">Number:</label>
              <input type="text" class="form-control form-control-sm" id="altura" name="direccion.altura" [(ngModel)]="supplier.address.number" #altura="ngModel" required>
              <div *ngIf="altura.errors?.['required']" class="col-auto">
                <span class="form-text text-primary">
                    This field is required
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <label for="CP" class="form-label">Postal Code:</label>
              <input type="text" maxlength="8" class="form-control form-control-sm" id="CP" name="direccion.CP" [(ngModel)]="supplier.address.postal_code" #CP="ngModel" required>
              <div *ngIf="CP.errors?.['required']" class="col-auto">
                <span class="form-text text-primary">
                    This field is required
                </span>
              </div>
            </div>
    
          </div>
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <label for="pais" class="form-label">Country:</label>
              <select (change)="filterState()" class="form-select form-select-sm" aria-label="Default select example" id="pais" name="direccion.pais" [(ngModel)]="supplier.address.country" #pais="ngModel" required>
                <option *ngFor="let country of countries" value={{country.name}}>{{country.name}}</option>
              </select>
              <div *ngIf="pais.errors?.['required']" class="col-auto">
                <span class="form-text text-primary">
                  This field is required
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <label for="provincia" class="form-label">Province:</label>
              <select class="form-select form-select-sm" aria-label="Default select example" id="provincia" name="direccion.provincia" [(ngModel)]="supplier.address.province" #provincia="ngModel" required>
                <option *ngFor="let state of states" value={{state.name}}>{{state.name}}</option>
              </select>
              <div *ngIf="provincia.errors?.['required']" class="col-auto">
                <span class="form-text text-primary">
                    This field is required
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <label for="localidad" class="form-label">Locality:</label>
              <input type="text" class="form-control form-control-sm" aria-label="Default select example" id="localidad" name="direccion.localidad" [(ngModel)]="supplier.address.locality" #localidad="ngModel" required>
              <div *ngIf="localidad.errors?.['required']" class="col-auto">
                <span class="form-text text-primary">
                    This field is required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h3>Contact</h3>
      <div class="row mt-3">
        <div class="col-md-3">
          <label for="nombreContacto" class="form-label">First Name:</label>
          <input type="text" class="form-control form-control-sm" id="nombreContacto" name="contacto.nombre" [(ngModel)]="supplier.contact.first_name" #nombreContacto="ngModel" required>
          <div *ngIf="nombreContacto.errors?.['required']" class="col-auto">
            <span class="form-text text-primary">
                This field is required
            </span>
          </div>
        </div>
        <div class="col-md-3">
          <label for="apellidoContacto" class="form-label">Last Name:</label>
          <input type="text" class="form-control form-control-sm" id="apellidoContacto" name="contacto.apellido" [(ngModel)]="supplier.contact.last_name" #apellidoContacto="ngModel" required>
          <div *ngIf="apellidoContacto.errors?.['required']" class="col-auto">
            <span class="form-text text-primary">
                This field is required
            </span>
          </div>
        </div>
        <div class="col-md-2">
          <label for="emailContacto" class="form-label">Email:</label>
          <input type="email" (keyup)="validarEmailContacto(supplier.contact.email)" class="form-control form-control-sm" id="emailContacto" name="contacto.email" [(ngModel)]="supplier.contact.email" #emailContacto="ngModel" placeholder="ejemplo&#64;ejemplo.com" required>
          <div *ngIf="emailContacto.errors?.['required']" class="col-auto">
            <span class="form-text text-primary">
                This field is required
            </span>
          </div>
          <div *ngIf="!validEmailContacto && !emailContacto.errors?.['required']" class="col-auto">
            <span class="form-text text-danger">
              Check the format of the entered email. Example: example&#64;example.com
            </span>
          </div>
        </div>
        <div class="col-md-2">
          <label for="telefonoContacto" class="form-label">Phone:</label>
          <input type="tel" (keyup)="validarTelefonoContacto(supplier.contact.phone)" class="form-control form-control-sm" id="telefonoContacto" name="contacto.telefono" [(ngModel)]="supplier.contact.phone" #telefonoContacto="ngModel" required>
          <div *ngIf="telefonoContacto.errors?.['required']" class="col-auto">
            <span class="form-text text-primary">
                This field is required
            </span>
          </div>
          <div *ngIf="!validTelefonoContacto && !telefonoContacto.errors?.['required']" class="col-auto">
            <span class="form-text text-danger">
              The phone format only accepts 5 or more numeric characters, parentheses, hyphens, or spaces.
            </span>
          </div>  
        </div>
        <div class="col-md-2">
          <label for="otrosContacto" class="form-label">Role:</label>
          <input type="text" class="form-control form-control-sm" id="otrosContacto" name="contacto.rol" [(ngModel)]="supplier.contact.role">
        </div>
      </div>
      <input type="hidden" class="form-control form-control-sm" id="deleted" name="deleted" [(ngModel)]="supplier.deleted">
    
      <div class="row mt-3">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary my-3">{{title}}</button>
          <div (click)="cancelar('suppliers')" class="btn btn-secondary m-3">Cancelar</div>
        </div>
      </div>
    </form>
    

</section>