<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column w-100 ">

    <app-header></app-header>
    <!-- Main Content -->
    <!-- <div id="content"> -->


        <!-- Begin Page Content -->
        <div class="container-fluid">

            <router-outlet></router-outlet>
            <!-- <app-products-display></app-products-display> -->
            <!-- <app-orders-display></app-orders-display> -->
            <!-- <app-suppliers-display></app-suppliers-display> -->

        </div>
        <!-- /.container-fluid -->

    <!-- </div> -->
    <!-- End of Main Content -->

    <app-footer></app-footer>

</div>
<!-- End of Content Wrapper -->
