<nav class="navbar navbar-expand-md bg-body-tertiary bg-black p-0 border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand  p-2" href="#">Suppliers Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
            <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0"> -->
                <li class="nav-item p-2 option-nav">
                <a class="nav-link active" aria-current="page" routerLink="proveedores">Suppliers</a>
                </li>
                <li class="nav-item p-2 option-nav">
                <a class="nav-link active" aria-current="page" routerLink="productos">Products</a>
                </li>
                <li class="nav-item p-2 option-nav">
                <a class="nav-link active" aria-current="page" routerLink="ordenes">Orders</a>
                </li>
            </ul>
        </div>
    </div>
</nav>