<section class="container pt-2">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a (click)="cancelar('')">Home</a></li>
      <li class="breadcrumb-item"><a (click)="cancelar('productos')">Productos</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{tituloFormulario}}</li>
    </ol>
  </nav>


  <h2>{{tituloFormulario}}</h2>  

  <div class="container mt-4">
    <form (ngSubmit)="onClickForm(formularioProductos)" #formularioProductos="ngForm" class="p-4">
      <input type="hidden" class="form-control form-control-sm " id="id" name="id" [(ngModel)]="productsService.product.id">

        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label for="nombreProducto">Nombre del Producto</label>
              <input type="text" class="form-control form-control-sm" id="nombreProducto" name="nombreProducto" [(ngModel)]="productsService.product.name" #nombreProducto="ngModel" required>
              <div *ngIf="nombreProducto.errors?.['required']" class="col-auto">
                <span class="form-text text-danger">
                    Este campo es requerido
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="SKUProducto">SKU Producto</label>
              <input type="text" (keyup)="skuIsUnique($event)" class="form-control form-control-sm" id="SKUProducto" name="SKUProducto" [(ngModel)]="productsService.product.sku" #SKUProducto="ngModel" [disabled]="disabledInEdit" required>
              <div *ngIf="SKUProducto.errors?.['required']" class="col-auto">
                <span class="form-text text-danger">
                    Este campo es requerido
                </span>
              </div> 
              <div *ngIf="skuRepetido" class="col-auto">
                <span class="form-text text-danger">
                    Hay otro producto con este código
                </span>
              </div> 
            </div>
          </div>
        </div> 
        <div class="row">              
          <div class="col-sm-8">
            <div class="form-group">
              <label for="idProveedor">Proveedor</label>
              <select class="form-select form-select-sm" aria-label="Default select example" id="idProveedor" name="idProveedor" [(ngModel)]="productsService.product.supplier.id" #idProveedor="ngModel" [disabled]="disabledInEdit" required>
                <option *ngFor="let supplier of suppliersList" value="{{supplier.id}}">{{supplier.business_name}} &nbsp;&nbsp;-&nbsp;&nbsp; Codigo de empresa: {{supplier.code}}</option>
              </select>
              <div *ngIf="idProveedor.errors?.['required']" class="col-auto">
                <span class="form-text text-danger">
                    Este campo es requerido
                </span>
              </div> 
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="categoria">Categoría</label>
              <select class="form-select form-select-sm" aria-label="Default select example" id="categoria" name="categoria" [(ngModel)]="productsService.product.category.name" #category="ngModel" required>
                <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
              </select>
              <div *ngIf="category.errors?.['required']" class="col-auto">
                <span class="form-text text-danger">
                    Este campo es requerido
                </span>
              </div> 
              <div (click)="addCategoryModal()" class="btn btn btn-outline-secondary btn-sm m-2">Add a category</div>
              <div (click)="deleteCategoryModal()" class="btn btn btn-outline-secondary btn-sm">Delete a category</div>
            </div>
          </div>
        </div>
    
        <div class="row">
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control form-control-sm" id="descripcion" name="descripcion" [(ngModel)]="productsService.product.description"></textarea>
          </div>
        </div>
    
        <div class="row mt-3">
          <div class="col-sm-3">
            <div class="form-group">
              <label for="precio">Precio</label>
              <input type="number" min="1" max="10000000" class="form-control form-control-sm" id="precio" name="precio" [(ngModel)]="productsService.product.price" #precio="ngModel" required>
              <div *ngIf="precio.errors?.['min']" class="col-auto">
                <span class="form-text text-danger">
                    El precio mínimo es $1
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-1">
          </div>
          <div class="col-sm-8">
            <div class="form-group">
              <label for="precio">URL imagen</label>
              <input type="text" maxlength="1500" class="form-control form-control-sm" id="URLImagen" name="URLImagen" [(ngModel)]="productsService.product.url_image" >
            </div>
          </div>
        </div>
      
      <button type="submit" class="btn btn-primary my-4">Guardar</button>
      <div (click)="cancelar('productos')" class="btn btn-secondary my-4 mx-2">Cancelar</div>
    </form>
  </div>   

</section>