<p>form-orders works!</p>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar Proveedor</h5>
        </div>
        <div class="modal-body">
            <form class="row g-3">
                <div class="col-md-3">
                    <label for="inputCodigo" class="form-label mb-1 mt-2">Codigo</label>
                    <input type="text" class="form-control" id="inputCodigo" disabled>
                </div>
                <div class="col-md-9">
                    <label for="inputFechaEmision" class="form-label mb-1 mt-2">Fecha Emision</label>
                    <input type="text" class="form-control" id="inputFechaEmision">
                </div>
                <div class="col-6">
                    <label for="inputFechaEntrega" class="form-label mb-1 mt-2">Entrega Estimada</label>
                    <input type="text" class="form-control" id="inputFechaEntrega">
                </div>
                <div class="col-6">
                    <label for="inputDireccionRecepcion" class="form-label mb-1 mt-2">Recepcion</label>
                    <input type="text" class="form-control" id="inputDireccionRecepcion">
                </div>
                <div class="col-6">
                    <label for="inputProveedor" class="form-label mb-1 mt-2">Proveedor</label>
                    <input type="text" class="form-control" id="inputProveedor">
                </div>
                <div class="col-6">
                    <label for="inputProducto" class="form-label mb-1 mt-2">Producto</label>
                    <input type="text" class="form-control" id="inputProducto">
                </div>
                <div class="col-md-6">
                    <label for="inputCantidad" class="form-label mb-1 mt-2">Cantidad</label>
                    <input type="text" class="form-control" id="inputCantidad">
                </div>
                <div class="col-md-3">
                    <label for="inputTotal" class="form-label mb-1 mt-2">Total</label>
                    <input type="text" class="form-control" id="inputTotal" disabled>
                </div>
                <div class="col-md-3">
                    <label for="inputEstado" class="form-label mb-1 mt-2">CP</label>
                    <input type="text" class="form-control" id="inputEstado">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary close-modal" type="button" data-dismiss="modal">Cancelar</button>
            <button id="add-OrdenCompra" class="btn btn-primary close-modal" type="button" data-dismiss="modal">Aceptar Proveedor</button>
            <!-- <a class="btn btn-primary" href="login.html">Logout</a> -->
        </div>
    </div>
</div>
