<div>
    <div class="row">
        <div class="col-sm-3 bg-light vh-100 p-3 pt-5">
            <div class="mt-5 d-flex flex-column justify-content-center align-items-center" >
                <img src="/assets/icons/person-circle.svg" alt="user" width="100" height="100">
                <h2 class="text-center m-3">Bienvenido User</h2>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container p-5">
                <div class="card my-2">
                    <div class="row p-3">
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <img src="/assets/icons/truck.svg" alt="proveedores-icon" width="100" height="100">
                        </div>
                        <div class="col-sm-8 col-md-9 col-lg-10">
                            <h5>Proveedores</h5>
                            <a routerLink="proveedores" class="btn btn-primary m-1">Ver proveedores</a>
                            <a routerLink="proveedores/formulario-proveedores" class="btn btn-primary m-1">Añadir proveedores</a>
                        </div>
                    </div>
                </div>
                <div class="card my-2">
                    <div class="row p-3">
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <img src="/assets/icons/box2-heart.svg" alt="productos-icon" width="100" height="100">
                        </div>
                        <div class="col-sm-8 col-md-9 col-lg-10">
                            <h5>Productos</h5>
                            <a routerLink="productos" class="btn btn-primary m-1">Ver productos</a>
                            <a routerLink="productos/formulario-productos" class="btn btn-primary m-1">Añadir productos</a>
                        </div>
                    </div>
                </div>
                <div class="card my-2">
                    <div class="row p-3">
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <img src="/assets/icons/clipboard2-check.svg" alt="ordenes-icon" width="100" height="100">
                        </div>
                        <div class="col-sm-8 col-md-9 col-lg-10">
                            <h5>Ordenes</h5>
                            <a routerLink="proveedores" class="btn btn-primary m-1">Ver ordenes</a>
                            <a routerLink="proveedores/formulario-proveedores" class="btn btn-primary m-1">Añadir ordenes</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>